*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: roboto, san-serif;
}
#mainNav .logo img{
    height: 84px;
    transition: height 0.4s;
}
.bg-black{
    background: #333 !important;
}
.txt-white a{
    color: #eee !important;
}
#mainNav{
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    position: fixed;
    width: 100%;
    top: 0px;
    background: #eee;
    transition:  background 0.4s;
}
section:nth-of-type(1){
    margin-top: 84px;;
}
section{
    height: 300px;
    padding: 16px;
    font-size: 20px;
}
section:nth-of-type(odd){
    background: #eee;
    color: #333;
}
section:nth-of-type(even){
    background: #333;
    color: #eee;
}
footer{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: pink;
}
#mainNav ul{
    list-style: none;
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
}
#mainNav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transform: color .4s;
}